<% include ./partials/header %>

<div class="row">
    <div class="col-12">
        <form id="movieSearch" style="margin-top: 20%;">
            <div class="form-group d-flex">
                <input type="text" class="form-control mr-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
        </form>
    </div>
</div>


<% include ./partials/footer %>